* {
    padding: 0;
    margin: 0 auto;
    font-family: 'poppins', sans-serif;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 20px;
}

.logo {
   padding-right: 100px;
}

.menu {
    padding-left: 30px;
}

.menu ul {
    padding-left: 30px;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    padding-right: 40px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(208, 208, 208);
}

.menu ul li button {
    width: 100px;
    height: 40px;
    background: rgb(77, 77, 255);
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
}