* {
    padding: 0;
    color: black;
}

.hero-container {
    height: 90%;
}

.hero-container .hero-left {
    float: left;
    width: 50%;
    padding-top: 80px;
}

.hero-container .hero-left h1 {
    padding-left: 200px;
    padding-bottom: 50px;
    font-size: 65px;
    width: 430px;
}

.hero-container .hero-left p {
    padding-left: 270px;
}

.hero-container .hero-left .input-search {
    padding-left: 270px;
    padding-top: 50px;
    position: relative;
}

.hero-container .hero-left .input-search input{
    width: 85%;
    height: 45px;
    border-radius: 5px;
}

.hero-container .hero-left .input-search button {
    width: 95px;
    height: 35px;
    background: rgb(77, 77, 255);
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 57px;
    right: 80px;
}

.hero-container .hero-left .intro {
    padding-left: 270px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.hero-container .hero-left .intro .intro-items{
    width: 150px;
}

.hero-container .hero-left .intro .intro-items h4 {
    font-size: 30px;
}

.hero-container .hero-left .intro .intro-items p{
    position: relative;
    left: -270px;
}

.hero-container .hero-right{
    float: left;
    width: 50%;
    
}

.hero-container .hero-right img {
    width: 60%;
    height: 100%;
    padding-top: 50px;
    padding-left: 100px;
    border-top-left-radius: 60%;
    border-top-right-radius: 45%;
}