header {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: purple;
  color: white;
  width: 40%;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

h1 {
  font-size: 40px;
}

.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  background-color: lightpink;
}

.todo-list .todo-form {
  margin: 20px 0;
}

.todo-list .todo-form input{
  margin-left: 50px;
  height: 30px;
  text-align: center;
  width: 370px;
  border-radius: 10px;
  border: 0.5px solid purple;
  background-color: purple;
  color: white;
}

.todo-list .todo-form input:hover {
  background-color: white;
  color: black;
}

.todo-list .todo-form button{
  width: 60px;
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  border: 0.5px solid purple;
  background-color: purple;
  color: white;
}

.todo-list .todo-form button:hover {
  background-color: white;
  color: black;
}

.todo-list .todo-item {
  display: flex;
  justify-content: center;
}

.todo-list .todo-item .todo-item-task {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 280px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 10px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: purple;
  color: white;
}

.todo-list .todo-item button{
  width: 60px;
  height: 30px;
  margin-right: 3px;
  border-radius: 10px;
  border: 0.5px solid purple;
  background-color: purple;
  color: white;
}

.todo-list .todo-item input[type="checkbox"] {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: lightpink;
}

.todo-list  input[type="checkbox"]:checked {
  background-color: purple;
  color: white;
}